*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   
   body{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
   }
   .calculator{
    flex: 50% 45%;
    


   }
   .screen{
    height: 100px;   
    width: 100%;
    font-size: 25px;
    padding: 0.5rem;
    background: rgb(41,41,56);
    color: white;
    border:none;
   }
   
   .buttons{
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s linear;
   }
   button{
    flex:0 25%;
    border: 2px solid black;
    padding: 0.25rem 0;
    transition: all 2s;
   }
   button:hover{
    background: rgb(58, 58, 90);
   }
   .btn-yellow{
    background: rgb(216, 32, 32);
    color: white;
   }
   .btn-grey{
    background: rgb(224,224,224);
   }
   .btn,.btn-equal,.btn-clear{
    font-size: 4rem;
   }
   .btn-equal{
    background: rgb(245, 253, 245);
   }
   .btn-clear{
    background: red;
   }
   
   
   
   







    

